{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated   %}
    <div class='content-section'>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Post</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group ml-2">
                <button class="btn bnt-outline-info" style="border: black 1px solid" type="submit">Save</button>
                <a class="btn btn-info ml-2" href="{% url 'index' %}">Cancel</a>
            </div>
        </form>
    </div>
    {% endif %}

    {% for post in object_list %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
{#                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>#}
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"d F, Y" }}</small>
            </div>
            <h2>{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>

    {% endfor %}
{% endblock %}