{% extends "network/layout.html" %}
{% block body %}

    {% if user.is_authenticated %}
        <div class='content-section'>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">New Post</legend>
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group ml-2">
                    <button class="btn bnt-outline-info" style="border: black 1px solid" type="submit">Save</button>
                    <a class="btn btn-info ml-2" href="{% url 'index' %}">Cancel</a>
                </div>
            </form>
        </div>
    {% endif %}

    {% for post in object_list %}
        {% include "network/article_template.html" %}
    {% endfor %}

    {% if is_paginated %}
        {% include "network/pagination.html" %}
    {% endif %}

{% endblock %}