{% extends "network/layout.html" %}
{% block body %}

    <div>
        <h2 class="account-heading">{{ visited_user.username }}</h2>
        <h2>followers {{ followers }}</h2>
        <h2>following {{ following }}</h2>
        {% if not_same_user %}
            {% if follows %}
                <a class="follow btn btn-light"
                   href="{% url 'unfollow' singed_user.id visited_user.id %}">Unfollow</a>
            {% else %}
                <a class="follow btn btn-light" href="{% url 'follow' singed_user.id visited_user.id %}">Follow</a>
            {% endif %}
        {% endif %}
    </div>


    {% for post in object_list %}
        {% include "network/article_template.html" %}
    {% endfor %}

    {% if is_paginated %}
        {% include "network/pagination.html" %}
    {% endif %}
{% endblock %}