h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
.article-content {
    white-space: pre-line;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.active {
    background: rgb(249, 24, 128);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    pointer-events: auto;
    cursor: pointer;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow-wrap: break-word;
    white-space: nowrap;
    color: rgb(249, 24, 128);
    -webkit-box-direction: normal;
    display: inline-block;
    fill: currentcolor;
    height: 1.25em;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
    user-select: none;
    width: 1.25em;
    line-height: 20px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    d: path("M 12 21.638 h -0.014 C 9.403 21.59 1.95 14.856 1.95 8.478 c 0 -3.064 2.525 -5.754 5.403 -5.754 c 2.29 0 3.83 1.58 4.646 2.73 c 0.814 -1.148 2.354 -2.73 4.645 -2.73 c 2.88 0 5.404 2.69 5.404 5.755 c 0 6.376 -7.454 13.11 -10.037 13.157 H 12 Z");
}

span, svg {
    height: 22px;
    width: 22px;
    display: inline;
}

.follow {
    margin-bottom: 20px;
    height: 30px;
    min-width: 100px;
    border-radius: 25px;
    border: none;
}
#edit {
    color: white;
}
p{
    color: black;
}